<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <h1>Editar Datos de Alumnos</h1><br>
    <br>


    <button type="button">
        <a href="{% url 'alumnosAdd' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje%}
            {{mensaje}}
        {% endif%}
    </div>

    <table>
        {% if alumnos%}
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Eliminar</th>
        <th>Modificar</th>
        {% for x in alumnos%}
            <tr>
                <td>{{ x.rut }}</td>
                <td>{{ x.nombre }}</td>
                <td>{{ x.apellido_paterno}}</td>
                {% comment %} <td> <a href="{% url 'alumnos_del' pk=x.rut %}">Eliminar</a></td>
                <td> <a href="{% url 'alumnos_findEdit' pk=x.rut%}">Modificar</a></td> {% endcomment %}

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
    
</body>
</html>